<html>

<body>
<p>Hear Seoul Open Source License</p>

com.android.support:appcompat-v7:28.0.0
com.android.support:support-v4:28.0.0
com.android.support:design:28.0.0
com.android.support:cardview-v7:28.0.0
com.android.support.constraint:constraint-layout:1.1.3
com.android.support:palette-v7:28.0.0
com.android.support:preference-v7:28.0.0
com.android.support:exifinterface:28.0.0
// Google Play
com.google.android.gms:play-services-maps:15.0.1
com.google.android.gms:play-services-location:15.0.1
com.google.android.gms:play-services-places:15.0.1
// Firebase
com.crashlytics.sdk.android:crashlytics:2.9.5
com.google.firebase:firebase-core:16.0.3
com.google.firebase:firebase-messaging:17.3.2
com.google.firebase:firebase-perf:16.1.0
// Else
me.grantland:autofittextview:0.2.1
com.github.bumptech.glide:glide:4.7.1
annotationProcessor com.github.bumptech.glide:compiler:4.7.1
com.squareup.okhttp3:okhttp:3.10.0
gun0912.ted:tedpermission:2.0.0
com.muddzdev:styleabletoast:2.0.0
me.relex:circleindicator:1.2.2@aar
gun0912.ted:tedbottompicker:1.2.6
de.hdodenhof:circleimageview:2.2.0
com.github.linger1216:labelview:v1.1.2

</body>

</html>